body, html {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'caviar_dreamsregular';
}

.container {
  width: 1500px;
  height: 1000px;
  margin: 0 auto;
  background-image: url("../img/background.jpg");

}

span a {
  color: #000;
  text-decoration: none;
  padding-top: 30px;
}

.container .heading {
  background-color: #fff;
  opacity: .7;
  max-width: 1700px;
  height: 150px;
  padding-top: 30px;
}

.brandNAme {
  text-align: center;
}

.nav {
  text-align: center;
}

.gift {
  padding-left: 150px;
}

.about {
  padding-left: 150px;
}

.exp {
  padding-left: 150px;
}

.search {
  padding-left: 150px;
}

.saleImage {
  position: absolute;
  background-image: url("../img/dress0.jpg");
  height: 580px;
  width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  border: 2px solid #000;
  box-shadow: 5px 5px 15px #000;
}

#overTitle {
  position: absolute;
  font-family: 'Pacifico', cursive;
  font-size: 120px;
  padding-top: 400px;
  color: 	#DAA520;
  opacity: .3;
}

.form-container {
  box-sizing: border-box;
  position: absolute;
  clear: both;
  width: 600px;
  height: 700px;
  background-color: #FBF7F7;
  margin-left: 820px;
  margin-top: 20px;
  border: 2px solid #000;
  box-shadow: 5px 5px 15px #000;
  padding-left: 30px;
  padding-top: 20px;
}

.form-container p {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  color: 	#DAA520;
  opacity: .6;
}

/*form {
  position: absolute;
  width: 200px;
}*/

.form-content {
  position: absolute;
  width: 200px;
  margin-left: 0;
}

button {
  font-family: 'caviar_dreamsregular';
  padding:20px 50px;
  border:1px solid #DFB7A5;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
  -moz-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
  box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
  background: #292A36;
  color:#DFB7A5;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
	}

  select {
    font-family: 'caviar_dreamsregular';
    padding:10px;
    border:1px solid #DFB7A5;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    -moz-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    background: #292A36;
    color:#DFB7A5;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
  input {
    font-family: 'caviar_dreamsregular';
    padding:10px;
    border:1px solid #DFB7A5;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    -moz-box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    box-shadow: 0 3px 0 #292A36, 0 -1px #DFB7A5 inset;
    background: #292A36;
    color:#DFB7A5;
}

input::-webkit-input-placeholder {
  color: #DFB7A5;
}

/*.dress-img img {
position: relative;
height: 125px;
width: 125px;
}*/

.dress-img {
  float: right;
  margin-top: 30px;
  margin-right: 100px;
  padding: 20px;
}

.dress1Show {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  position: relative;
  height: 125px;
  width: 125px;
}

.dress1Hide {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  width: 236px;
  height: 339px;
}

.dress2Show {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  position: relative;
  height: 125px;
  width: 125px;
}

.dress2Hide {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  width: 236px;
  height: 338px;
}
.dress3Show {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  position: relative;
  height: 125px;
  width: 125px;
}

.dress3Hide {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  width: 236px;
  height: 338px;
}
.dress4Show {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  position: relative;
  height: 125px;
  width: 125px;
}

.dress4Hide {
  margin-bottom: 15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 7px #000;
  width: 236px;
  height: 338px;
}

.dress1 img:last-child {
  display: none;
}
.dress1:hover img {
  display: none;
}
.dress1:hover img:last-child {
  display: inline-block;
}

.dress2 img:last-child {
  display: none;
}
.dress2:hover img {
  display: none;
}
.dress2:hover img:last-child {
  display: inline-block;
}
.dress3 img:last-child {
  display: none;
}
.dress3:hover img {
  display: none;
}
.dress3:hover img:last-child {
  display: inline-block;
}
.dress4 img:last-child {
  display: none;
}
.dress4:hover img {
  display: none;
}
.dress4:hover img:last-child {
  display: inline-block;
}

.dressInfo {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
